<?xml version='1.0' encoding='utf-8'?>
<robot name="physxnet_10112_strict">
  <link name="l_world">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.0100000000" />
      <inertia ixx="0.0000001667" ixy="0.0" ixz="0.0" iyy="0.0000001667" iyz="0.0" izz="0.0000001667" />
    </inertial>
  </link><link name="l_0">
    <inertial>
      <origin xyz="0.0012125996 0.0043174501 0.0592771710" rpy="0 0 0" />
      <mass value="0.0056550373" />
      <inertia ixx="0.0000034559" ixy="0.0" ixz="0.0" iyy="0.0000131434" iyz="0.0" izz="0.0000103473" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_000_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_0">
        <color rgba="0.32548 0.48041 0.93131 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_000_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_world_l_0" type="fixed">
    <parent link="l_world" />
    <child link="l_0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_1">
    <inertial>
      <origin xyz="0.0906410820 -0.0003711702 -0.0314117703" rpy="0 0 0" />
      <mass value="0.0058319269" />
      <inertia ixx="0.0000180026" ixy="0.0" ixz="0.0" iyy="0.0000092361" iyz="0.0" izz="0.0000090640" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_001_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_1">
        <color rgba="0.15447 0.35718 0.26453 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_001_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_0_l_1" type="fixed">
    <parent link="l_0" />
    <child link="l_1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_2">
    <inertial>
      <origin xyz="-0.0701059401 0.0005877321 -0.0299587711" rpy="0 0 0" />
      <mass value="0.0024021886" />
      <inertia ixx="0.0000077468" ixy="0.0" ixz="0.0" iyy="0.0000042004" iyz="0.0" izz="0.0000042321" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_002_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_2">
        <color rgba="0.29417 0.82410 0.87988 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_002_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_1_l_2" type="fixed">
    <parent link="l_1" />
    <child link="l_2" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_3">
    <inertial>
      <origin xyz="-0.0025970270 -0.0000234088 -0.0299920459" rpy="0 0 0" />
      <mass value="0.0661568645" />
      <inertia ixx="0.0002093474" ixy="0.0" ixz="0.0" iyy="0.0003107027" iyz="0.0" izz="0.0003118381" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_003_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_3">
        <color rgba="0.55944 0.19916 0.68114 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_003_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_2_l_3" type="fixed">
    <parent link="l_2" />
    <child link="l_3" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_4">
    <inertial>
      <origin xyz="0.0715840639 -0.0005972917 -0.0305915437" rpy="0 0 0" />
      <mass value="0.0025745530" />
      <inertia ixx="0.0000083015" ixy="0.0" ixz="0.0" iyy="0.0000045565" iyz="0.0" izz="0.0000045894" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_004_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_4">
        <color rgba="0.31347 0.28085 0.26098 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_004_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_3_l_4" type="fixed">
    <parent link="l_3" />
    <child link="l_4" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
</robot>