<?xml version='1.0' encoding='utf-8'?>
<robot name="physxnet_10003_strict">
  <link name="l_world">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.0100000000" />
      <inertia ixx="0.0000001667" ixy="0.0" ixz="0.0" iyy="0.0000001667" iyz="0.0" izz="0.0000001667" />
    </inertial>
  </link><link name="l_0">
    <inertial>
      <origin xyz="-0.0000000000 -0.0000000000 0.0459395252" rpy="0 0 0" />
      <mass value="0.0089355654" />
      <inertia ixx="0.0000065969" ixy="0.0" ixz="0.0" iyy="0.0000273832" iyz="0.0" izz="0.0000224155" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_000_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_0">
        <color rgba="0.32548 0.48041 0.93131 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_000_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_world_l_0" type="fixed">
    <parent link="l_world" />
    <child link="l_0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_1">
    <inertial>
      <origin xyz="0.0792994800 -0.0000000000 -0.0502316490" rpy="0 0 0" />
      <mass value="0.0016739554" />
      <inertia ixx="0.0000017649" ixy="0.0" ixz="0.0" iyy="0.0000009126" iyz="0.0" izz="0.0000009126" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_001_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_1">
        <color rgba="0.15447 0.35718 0.26453 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_001_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_0_l_1" type="fixed">
    <parent link="l_0" />
    <child link="l_1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_2">
    <inertial>
      <origin xyz="0.0756279511 -0.0000000000 -0.0502305547" rpy="0 0 0" />
      <mass value="0.0004936147" />
      <inertia ixx="0.0000004096" ixy="0.0" ixz="0.0" iyy="0.0000002248" iyz="0.0" izz="0.0000002248" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_002_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_2">
        <color rgba="0.29417 0.82410 0.87988 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_002_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_1_l_2" type="fixed">
    <parent link="l_1" />
    <child link="l_2" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_3">
    <inertial>
      <origin xyz="0.0807574646 0.0000000608 -0.0065615995" rpy="0 0 0" />
      <mass value="0.0001285222" />
      <inertia ixx="0.0000000169" ixy="0.0" ixz="0.0" iyy="0.0000000045" iyz="0.0" izz="0.0000000154" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_003_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_3">
        <color rgba="0.55944 0.19916 0.68114 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_003_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_2_l_3" type="fixed">
    <parent link="l_2" />
    <child link="l_3" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_4">
    <inertial>
      <origin xyz="-0.0792994800 -0.0000000000 -0.0502316490" rpy="0 0 0" />
      <mass value="0.0016739554" />
      <inertia ixx="0.0000017649" ixy="0.0" ixz="0.0" iyy="0.0000009126" iyz="0.0" izz="0.0000009126" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_004_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_4">
        <color rgba="0.31347 0.28085 0.26098 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_004_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_3_l_4" type="fixed">
    <parent link="l_3" />
    <child link="l_4" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_5">
    <inertial>
      <origin xyz="-0.0756279511 -0.0000000000 -0.0502305547" rpy="0 0 0" />
      <mass value="0.0004936147" />
      <inertia ixx="0.0000004096" ixy="0.0" ixz="0.0" iyy="0.0000002248" iyz="0.0" izz="0.0000002248" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_005_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_5">
        <color rgba="0.31346 0.15755 0.21545 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_005_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_4_l_5" type="fixed">
    <parent link="l_4" />
    <child link="l_5" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_6">
    <inertial>
      <origin xyz="-0.0807574646 -0.0000000000 -0.0065615995" rpy="0 0 0" />
      <mass value="0.0001285227" />
      <inertia ixx="0.0000000169" ixy="0.0" ixz="0.0" iyy="0.0000000045" iyz="0.0" izz="0.0000000154" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_006_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_6">
        <color rgba="0.81497 0.92565 0.67671 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_006_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_5_l_6" type="fixed">
    <parent link="l_5" />
    <child link="l_6" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
</robot>