<?xml version='1.0' encoding='utf-8'?>
<robot name="physxnet_10046_strict">
  <link name="l_world">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.0100000000" />
      <inertia ixx="0.0000001667" ixy="0.0" ixz="0.0" iyy="0.0000001667" iyz="0.0" izz="0.0000001667" />
    </inertial>
  </link><link name="l_0">
    <inertial>
      <origin xyz="-0.0007617144 0.1214414198 0.0093692061" rpy="0 0 0" />
      <mass value="0.0197925795" />
      <inertia ixx="0.0000404999" ixy="0.0" ixz="0.0" iyy="0.0002018226" iyz="0.0" izz="0.0001666229" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_000_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_0">
        <color rgba="0.32548 0.48041 0.93131 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_000_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_world_l_0" type="fixed">
    <parent link="l_world" />
    <child link="l_0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_1">
    <inertial>
      <origin xyz="0.0010210975 0.1217722427 0.0011798819" rpy="0 0 0" />
      <mass value="0.0890883594" />
      <inertia ixx="0.0004034621" ixy="0.0" ixz="0.0" iyy="0.0012724770" iyz="0.0" izz="0.0009287086" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_001_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_1">
        <color rgba="0.15447 0.35718 0.26453 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_001_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_0_l_1" type="fixed">
    <parent link="l_0" />
    <child link="l_1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_2">
    <inertial>
      <origin xyz="0.0001106719 0.0061610459 -0.1010014436" rpy="0 0 0" />
      <mass value="0.0006847551" />
      <inertia ixx="0.0000009007" ixy="0.0" ixz="0.0" iyy="0.0000064448" iyz="0.0" izz="0.0000073454" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_002_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_2">
        <color rgba="0.29417 0.82410 0.87988 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_002_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_1_l_2" type="fixed">
    <parent link="l_1" />
    <child link="l_2" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_3">
    <inertial>
      <origin xyz="-0.0456179034 -0.0992903365 -0.1006613428" rpy="0 0 0" />
      <mass value="0.0001000000" />
      <inertia ixx="0.0000000493" ixy="0.0" ixz="0.0" iyy="0.0000000493" iyz="0.0" izz="0.0000000986" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_003_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_3">
        <color rgba="0.55944 0.19916 0.68114 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_003_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_2_l_3" type="fixed">
    <parent link="l_2" />
    <child link="l_3" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_4">
    <inertial>
      <origin xyz="-0.0000055667 -0.0275109176 -0.1029230261" rpy="0 0 0" />
      <mass value="0.0330852204" />
      <inertia ixx="0.0001761858" ixy="0.0" ixz="0.0" iyy="0.0003389216" iyz="0.0" izz="0.0005127111" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_004_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_4">
        <color rgba="0.31347 0.28085 0.26098 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_004_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_3_l_4" type="fixed">
    <parent link="l_3" />
    <child link="l_4" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_5">
    <inertial>
      <origin xyz="0.1363700672 0.0897423323 -0.0950882497" rpy="0 0 0" />
      <mass value="0.0042419664" />
      <inertia ixx="0.0000006742" ixy="0.0" ixz="0.0" iyy="0.0000010601" iyz="0.0" izz="0.0000008057" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_005_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_5">
        <color rgba="0.31346 0.15755 0.21545 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_005_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_4_l_5" type="fixed">
    <parent link="l_4" />
    <child link="l_5" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_6">
    <inertial>
      <origin xyz="-0.1289382161 0.0897420672 -0.0988615656" rpy="0 0 0" />
      <mass value="0.0039850013" />
      <inertia ixx="0.0000004706" ixy="0.0" ixz="0.0" iyy="0.0000010613" iyz="0.0" izz="0.0000009851" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_006_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_6">
        <color rgba="0.81497 0.92565 0.67671 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_006_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_5_l_6" type="fixed">
    <parent link="l_5" />
    <child link="l_6" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_7">
    <inertial>
      <origin xyz="-0.0019439820 0.1271381738 0.0109900526" rpy="0 0 0" />
      <mass value="0.0006545692" />
      <inertia ixx="0.0000001727" ixy="0.0" ixz="0.0" iyy="0.0000002793" iyz="0.0" izz="0.0000001291" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_007_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_7">
        <color rgba="0.27028 0.59050 0.37169 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_007_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_6_l_7" type="fixed">
    <parent link="l_6" />
    <child link="l_7" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
</robot>