<?xml version='1.0' encoding='utf-8'?>
<robot name="physxnet_10128_strict">
  <link name="l_world">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.0100000000" />
      <inertia ixx="0.0000001667" ixy="0.0" ixz="0.0" iyy="0.0000001667" iyz="0.0" izz="0.0000001667" />
    </inertial>
  </link><link name="l_0">
    <inertial>
      <origin xyz="0.0025556787 0.0994397644 0.0101008902" rpy="0 0 0" />
      <mass value="0.0273600081" />
      <inertia ixx="0.0000561686" ixy="0.0" ixz="0.0" iyy="0.0002706950" iyz="0.0" izz="0.0002426501" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_000_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_0">
        <color rgba="0.32548 0.48041 0.93131 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_000_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_world_l_0" type="fixed">
    <parent link="l_world" />
    <child link="l_0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_1">
    <inertial>
      <origin xyz="-0.0000101835 0.1038299799 0.0077415894" rpy="0 0 0" />
      <mass value="0.1118511470" />
      <inertia ixx="0.0003714716" ixy="0.0" ixz="0.0" iyy="0.0014115420" iyz="0.0" izz="0.0012429568" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_001_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_1">
        <color rgba="0.15447 0.35718 0.26453 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_001_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_0_l_1" type="fixed">
    <parent link="l_0" />
    <child link="l_1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_2">
    <inertial>
      <origin xyz="-0.0038434501 -0.0224016656 -0.0815608254" rpy="0 0 0" />
      <mass value="0.0001530627" />
      <inertia ixx="0.0000001467" ixy="0.0" ixz="0.0" iyy="0.0000012584" iyz="0.0" izz="0.0000014050" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_002_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_2">
        <color rgba="0.29417 0.82410 0.87988 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_002_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_1_l_2" type="fixed">
    <parent link="l_1" />
    <child link="l_2" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_3">
    <inertial>
      <origin xyz="-0.0191472234 -0.1066491721 -0.0818078693" rpy="0 0 0" />
      <mass value="0.0001000000" />
      <inertia ixx="0.0000000176" ixy="0.0" ixz="0.0" iyy="0.0000000827" iyz="0.0" izz="0.0000001003" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_003_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_3">
        <color rgba="0.55944 0.19916 0.68114 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_003_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_2_l_3" type="fixed">
    <parent link="l_2" />
    <child link="l_3" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_4">
    <inertial>
      <origin xyz="-0.0000000000 -0.0470066108 -0.0802584703" rpy="0 0 0" />
      <mass value="0.0345669473" />
      <inertia ixx="0.0001386844" ixy="0.0" ixz="0.0" iyy="0.0003546962" iyz="0.0" izz="0.0004897301" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_004_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_4">
        <color rgba="0.31347 0.28085 0.26098 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_004_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_3_l_4" type="fixed">
    <parent link="l_3" />
    <child link="l_4" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
</robot>