<?xml version='1.0' encoding='utf-8'?>
<robot name="physxnet_1007_strict">
  <link name="l_world">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.0100000000" />
      <inertia ixx="0.0000001667" ixy="0.0" ixz="0.0" iyy="0.0000001667" iyz="0.0" izz="0.0000001667" />
    </inertial>
  </link><link name="l_0">
    <inertial>
      <origin xyz="0.0029771247 0.0861219943 -0.0924868309" rpy="0 0 0" />
      <mass value="0.0195510010" />
      <inertia ixx="0.0000110778" ixy="0.0" ixz="0.0" iyy="0.0000110741" iyz="0.0" izz="0.0000083736" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_000_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_0">
        <color rgba="0.32548 0.48041 0.93131 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_000_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_world_l_0" type="fixed">
    <parent link="l_world" />
    <child link="l_0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_1">
    <inertial>
      <origin xyz="0.0253296458 0.0903279406 -0.0923601832" rpy="0 0 0" />
      <mass value="0.0133115549" />
      <inertia ixx="0.0000057525" ixy="0.0" ixz="0.0" iyy="0.0000074085" iyz="0.0" izz="0.0000043300" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_001_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_1">
        <color rgba="0.15447 0.35718 0.26453 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_001_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_0_l_1" type="fixed">
    <parent link="l_0" />
    <child link="l_1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_2">
    <inertial>
      <origin xyz="-0.0212606373 0.0837258657 -0.0901824088" rpy="0 0 0" />
      <mass value="0.0128201666" />
      <inertia ixx="0.0000051790" ixy="0.0" ixz="0.0" iyy="0.0000068298" iyz="0.0" izz="0.0000042129" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_002_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_2">
        <color rgba="0.29417 0.82410 0.87988 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_002_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_1_l_2" type="fixed">
    <parent link="l_1" />
    <child link="l_2" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_3">
    <inertial>
      <origin xyz="0.0029775770 -0.0035074618 0.0305563496" rpy="0 0 0" />
      <mass value="0.1620734276" />
      <inertia ixx="0.0011116283" ixy="0.0" ixz="0.0" iyy="0.0004974558" iyz="0.0" izz="0.0006453304" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_003_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_3">
        <color rgba="0.55944 0.19916 0.68114 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_003_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_2_l_3" type="fixed">
    <parent link="l_2" />
    <child link="l_3" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_4">
    <inertial>
      <origin xyz="0.0480232109 0.0932172035 -0.0475374266" rpy="0 0 0" />
      <mass value="0.0071651893" />
      <inertia ixx="0.0000018753" ixy="0.0" ixz="0.0" iyy="0.0000022092" iyz="0.0" izz="0.0000016556" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_004_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_4">
        <color rgba="0.31347 0.28085 0.26098 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_004_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_3_l_4" type="fixed">
    <parent link="l_3" />
    <child link="l_4" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_5">
    <inertial>
      <origin xyz="-0.0468946898 0.0803945798 -0.0489369964" rpy="0 0 0" />
      <mass value="0.0083302801" />
      <inertia ixx="0.0000024291" ixy="0.0" ixz="0.0" iyy="0.0000029006" iyz="0.0" izz="0.0000021044" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_005_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_5">
        <color rgba="0.31346 0.15755 0.21545 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_005_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_4_l_5" type="fixed">
    <parent link="l_4" />
    <child link="l_5" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
</robot>