<?xml version='1.0' encoding='utf-8'?>
<robot name="physxnet_1001_strict">
  <link name="l_world">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.0100000000" />
      <inertia ixx="0.0000001667" ixy="0.0" ixz="0.0" iyy="0.0000001667" iyz="0.0" izz="0.0000001667" />
    </inertial>
  </link><link name="l_0">
    <inertial>
      <origin xyz="0.0005693831 0.0000000000 0.0375000000" rpy="0 0 0" />
      <mass value="0.0117395143" />
      <inertia ixx="0.0000531566" ixy="0.0" ixz="0.0" iyy="0.0000495785" iyz="0.0" izz="0.0000036829" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_000_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_0">
        <color rgba="0.32548 0.48041 0.93131 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_000_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_world_l_0" type="fixed">
    <parent link="l_world" />
    <child link="l_0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_1">
    <inertial>
      <origin xyz="0.0000000000 0.0026970590 -0.0938381717" rpy="0 0 0" />
      <mass value="0.0014344787" />
      <inertia ixx="0.0000016888" ixy="0.0" ixz="0.0" iyy="0.0000015480" iyz="0.0" izz="0.0000002205" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_001_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_1">
        <color rgba="0.15447 0.35718 0.26453 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_001_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_0_l_1" type="fixed">
    <parent link="l_0" />
    <child link="l_1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
</robot>