<?xml version='1.0' encoding='utf-8'?>
<robot name="physxnet_10094_strict">
  <link name="l_world">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.0100000000" />
      <inertia ixx="0.0000001667" ixy="0.0" ixz="0.0" iyy="0.0000001667" iyz="0.0" izz="0.0000001667" />
    </inertial>
  </link><link name="l_0">
    <inertial>
      <origin xyz="-0.0864437571 -0.0191562916 -0.0190934323" rpy="0 0 0" />
      <mass value="0.1205250889" />
      <inertia ixx="0.0000619904" ixy="0.0" ixz="0.0" iyy="0.0001771840" iyz="0.0" izz="0.0001891979" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_000_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_0">
        <color rgba="0.32548 0.48041 0.93131 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_000_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_world_l_0" type="fixed">
    <parent link="l_world" />
    <child link="l_0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_1">
    <inertial>
      <origin xyz="0.1242887688 -0.1500359553 -0.0368881151" rpy="0 0 0" />
      <mass value="0.2293965195" />
      <inertia ixx="0.0126886876" ixy="0.0" ixz="0.0" iyy="0.0163385783" iyz="0.0" izz="0.0289891215" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_001_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_1">
        <color rgba="0.15447 0.35718 0.26453 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_001_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_0_l_1" type="fixed">
    <parent link="l_0" />
    <child link="l_1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_2">
    <inertial>
      <origin xyz="-0.0800212562 0.0640665325 -0.0267940098" rpy="0 0 0" />
      <mass value="0.1206383287" />
      <inertia ixx="0.0000587929" ixy="0.0" ixz="0.0" iyy="0.0001833122" iyz="0.0" izz="0.0001810226" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_002_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_2">
        <color rgba="0.29417 0.82410 0.87988 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_002_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_1_l_2" type="fixed">
    <parent link="l_1" />
    <child link="l_2" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_3">
    <inertial>
      <origin xyz="0.2101093220 -0.0502969087 0.0000000000" rpy="0 0 0" />
      <mass value="0.0142678599" />
      <inertia ixx="0.0000144639" ixy="0.0" ixz="0.0" iyy="0.0001888662" iyz="0.0" izz="0.0001752632" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_003_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_3">
        <color rgba="0.55944 0.19916 0.68114 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_003_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_2_l_3" type="fixed">
    <parent link="l_2" />
    <child link="l_3" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_4">
    <inertial>
      <origin xyz="-0.2207762201 0.1427269390 -0.0373802367" rpy="0 0 0" />
      <mass value="0.0668936336" />
      <inertia ixx="0.0037346926" ixy="0.0" ixz="0.0" iyy="0.0032068726" iyz="0.0" izz="0.0069411657" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_004_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_4">
        <color rgba="0.31347 0.28085 0.26098 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_004_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_3_l_4" type="fixed">
    <parent link="l_3" />
    <child link="l_4" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
</robot>