<?xml version='1.0' encoding='utf-8'?>
<robot name="physxnet_10098_strict">
  <link name="l_world">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.0100000000" />
      <inertia ixx="0.0000001667" ixy="0.0" ixz="0.0" iyy="0.0000001667" iyz="0.0" izz="0.0000001667" />
    </inertial>
  </link><link name="l_0">
    <inertial>
      <origin xyz="-0.0002608942 0.1114105693 0.0131746438" rpy="0 0 0" />
      <mass value="0.0087286830" />
      <inertia ixx="0.0000185624" ixy="0.0" ixz="0.0" iyy="0.0000920175" iyz="0.0" izz="0.0000734857" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_000_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_0">
        <color rgba="0.32548 0.48041 0.93131 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_000_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_world_l_0" type="fixed">
    <parent link="l_world" />
    <child link="l_0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_1">
    <inertial>
      <origin xyz="0.0010898438 0.1157695590 0.0000000000" rpy="0 0 0" />
      <mass value="0.0255078670" />
      <inertia ixx="0.0001064433" ixy="0.0" ixz="0.0" iyy="0.0003598162" iyz="0.0" izz="0.0002548089" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_001_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_1">
        <color rgba="0.15447 0.35718 0.26453 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_001_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_0_l_1" type="fixed">
    <parent link="l_0" />
    <child link="l_1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_2">
    <inertial>
      <origin xyz="0.0000000000 -0.0090678090 -0.1010240236" rpy="0 0 0" />
      <mass value="0.0220430307" />
      <inertia ixx="0.0000991032" ixy="0.0" ixz="0.0" iyy="0.0002254412" iyz="0.0" izz="0.0003237072" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_002_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_2">
        <color rgba="0.29417 0.82410 0.87988 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_002_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_1_l_2" type="fixed">
    <parent link="l_1" />
    <child link="l_2" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_3">
    <inertial>
      <origin xyz="0.1382956539 0.1030647818 -0.0983222905" rpy="0 0 0" />
      <mass value="0.0001969309" />
      <inertia ixx="0.0000000046" ixy="0.0" ixz="0.0" iyy="0.0000000047" iyz="0.0" izz="0.0000000075" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_003_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_3">
        <color rgba="0.55944 0.19916 0.68114 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_003_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_2_l_3" type="fixed">
    <parent link="l_2" />
    <child link="l_3" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_4">
    <inertial>
      <origin xyz="-0.1455798718 0.1037003098 -0.0981910722" rpy="0 0 0" />
      <mass value="0.0001000000" />
      <inertia ixx="0.0000000018" ixy="0.0" ixz="0.0" iyy="0.0000000012" iyz="0.0" izz="0.0000000027" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_004_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_4">
        <color rgba="0.31347 0.28085 0.26098 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_004_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_3_l_4" type="fixed">
    <parent link="l_3" />
    <child link="l_4" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_5">
    <inertial>
      <origin xyz="0.1718943307 -0.0091445350 -0.1018268837" rpy="0 0 0" />
      <mass value="0.0001471160" />
      <inertia ixx="0.0000003418" ixy="0.0" ixz="0.0" iyy="0.0000000019" iyz="0.0" izz="0.0000003406" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_005_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_5">
        <color rgba="0.31346 0.15755 0.21545 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_005_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_4_l_5" type="fixed">
    <parent link="l_4" />
    <child link="l_5" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint><link name="l_6">
    <inertial>
      <origin xyz="-0.0059934984 0.1106127214 -0.0725252504" rpy="0 0 0" />
      <mass value="0.0001000000" />
      <inertia ixx="0.0000000006" ixy="0.0" ixz="0.0" iyy="0.0000000239" iyz="0.0" izz="0.0000000233" />
    </inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../rigid_visuals/part_006_visual.obj" scale="1 1 1" />
      </geometry><material name="mat_l_6">
        <color rgba="0.81497 0.92565 0.67671 1.00000" />
      </material>
    </visual><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="part_006_collision.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link><joint name="joint_fixed_l_5_l_6" type="fixed">
    <parent link="l_5" />
    <child link="l_6" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
</robot>